{"swagger":"2.0","info":{"version":"v2","title":"Quickfile REST API","description":"For further information on authorisation, permissions and IP restrictions, please refer to the <a href='https://support.quickfile.co.uk/t/rest-api-overview/64912'>Quickfile API Guide</a>"},"host":"api-beta.quickfile.co.uk","schemes":["https"],"paths":{"/account/me":{"get":{"tags":["Account"],"summary":"Get the business details for the connected user, e.g. business name, type, address, year end date, vat status and account size statistics.","operationId":"Account_Me","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountDto"}}}}},"/bank_accounts/{id}/transactions":{"get":{"tags":["Bank"],"summary":"Query bank account transactions by date range, nominal code, reference or amount","description":"","operationId":"Bank_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Bank account id","required":true,"type":"integer","format":"int64"},{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. date, amount.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"reference","in":"query","description":"Search by whole or partial reference","required":false,"type":"string"},{"name":"notes","in":"query","description":"Search by whole or partial notes.","required":false,"type":"string"},{"name":"date_from","in":"query","description":"From date","required":false,"type":"string"},{"name":"date_to","in":"query","description":"To date","required":false,"type":"string"},{"name":"amount_from","in":"query","description":"Amount range from (use - prefix for debits)","required":false,"type":"number","format":"double"},{"name":"amount_to","in":"query","description":"Amount range to (use - prefix for debits)","required":false,"type":"number","format":"double"},{"name":"type","in":"query","description":"Type of transaction, e.g. (credit) or (debit). Leave absent for both.","required":false,"type":"string"},{"name":"tag_status","in":"query","description":"Tag status of the bank transaction, e.g. tagged or untagged","required":false,"type":"string"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfBanksTransactionDetailedResponse"}}}},"post":{"tags":["Bank"],"summary":"Create untagged bank transactions","description":"","operationId":"Bank_CreateTransaction","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Bank account id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/BanksCreateTransactionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BanksTransactionResponse"}}}}},"/bank_accounts":{"get":{"tags":["Bank"],"summary":"Returns a list of bank accounts with optional nominal code and type filtering","description":"","operationId":"Bank_Accounts","consumes":[],"produces":["application/json"],"parameters":[{"name":"nominal_code","in":"query","description":"Nominal code","required":false,"type":"integer","format":"int32"},{"name":"types","in":"query","description":"List of account types to be returned. E.g. current, petty, buildingsoc, loan, merchant, equity, creditcard, reserve","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"include_hidden","in":"query","description":"Show hidden bank accounts. Default is false.","required":false,"type":"boolean"},{"name":"include_consents","in":"query","description":"Show Open Banking consents. Default is false.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelOfBanksAccountsDetailResponse"}}}},"post":{"tags":["Bank"],"summary":"Create a new bank account","description":"","operationId":"Bank_CreateAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/BanksAccountsCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BanksAccountsResponse"}}}}},"/bank_accounts/{id}/balance":{"get":{"tags":["Bank"],"summary":"Returns a bank balance","description":"","operationId":"Bank_Balances","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Bank account id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BanksAccountsBalancesResponse"}}}}},"/banks":{"get":{"tags":["Bank"],"summary":"Returns a list of supported banks","description":"","operationId":"Bank_Banks","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelOfBanksIdsResponse"}}}}},"/clients/styles":{"get":{"tags":["Client"],"summary":"Retrieve client trading styles","operationId":"Client_TradingStyles","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelOfClientTradingStylesResponse"}}}}},"/clients":{"get":{"tags":["Client"],"summary":"Retrieve client records based on a set of search parameters","operationId":"Client_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. created_date, company_name.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"include_deleted","in":"query","description":"Show previously deleted clients. Default is false.","required":false,"type":"boolean"},{"name":"company_name","in":"query","description":"Search by partial company name.","required":false,"type":"string"},{"name":"first_name","in":"query","description":"Search by first name.","required":false,"type":"string"},{"name":"surname","in":"query","description":"Search by surname.","required":false,"type":"string"},{"name":"email","in":"query","description":"Search by email.","required":false,"type":"string"},{"name":"account_reference","in":"query","description":"Search by client account reference.","required":false,"type":"string"},{"name":"telephone","in":"query","description":"Search by telephone.","required":false,"type":"string"},{"name":"include_total_invoiced","in":"query","description":"Returns the total amount invoiced for each client.","required":false,"type":"boolean"},{"name":"include_total_paid","in":"query","description":"Returns the total payments received for each client.","required":false,"type":"boolean"},{"name":"include_total_credits","in":"query","description":"Returns the total of prepayments held on account for each client.","required":false,"type":"boolean"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfClientSearchModel"}}}},"post":{"tags":["Client"],"summary":"Create a new client record","operationId":"Client_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ClientCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientBaseModel"}}}}},"/clients/{id}":{"get":{"tags":["Client"],"summary":"Retrieve client and contact data","operationId":"Client_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"},{"name":"contacts","in":"query","description":"Returns a list of client contacts associated with this particular client record.","required":false,"type":"boolean"},{"name":"financials","in":"query","description":"Returns credits on account and balance info.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientModel"}}}},"put":{"tags":["Client"],"summary":"Update an existing client record","operationId":"Client_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ClientUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientBaseModel"}}}},"delete":{"tags":["Client"],"summary":"Delete a client record","operationId":"Client_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"OK"}}}},"/clients/{id}/contacts":{"get":{"tags":["Client"],"summary":"Retrieve client contact data","operationId":"Client_ContactGet","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ClientContactExModel"}}}}},"post":{"tags":["Client"],"summary":"Create a new client contact record","operationId":"Client_ContactCreate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ClientContactCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientContactExModel"}}}}},"/clients/{id}/contacts/{contactId}":{"put":{"tags":["Client"],"summary":"Update an existing client contact record","operationId":"Client_ContactUpdate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","description":"Client contact id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ClientContactUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientContactExModel"}}}},"delete":{"tags":["Client"],"summary":"Delete a client contact record","operationId":"Client_ContactDelete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Client id","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","description":"Client contact id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"OK"}}}},"/clients/{id}/login":{"post":{"tags":["Client"],"summary":"Generate a secure tokenised login URL for a client","operationId":"Client_Login","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ClientLoginRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientLoginResponse"}}}}},"/clients/{id}/new-direct-debit":{"post":{"tags":["Client"],"summary":"Initiate a new Direct Debit collection request","operationId":"Client_NewDDCollection","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ClientNewDDRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientNewDDResponse"}}}}},"/client_payments":{"get":{"tags":["Client payment"],"summary":"Search for a payment based on specific search parameters","operationId":"ClientPayment_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. amount, pay_date.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"include_deleted","in":"query","description":"Show previously deleted payments. Default is false.","required":false,"type":"boolean"},{"name":"client_id","in":"query","description":"Show all payments for a given Client ID.","required":false,"type":"integer","format":"int64"},{"name":"client_name","in":"query","description":"Whole or part of client company name.","required":false,"type":"string","maxLength":100,"minLength":0},{"name":"type","in":"query","description":"allocated/unallocated.","required":false,"type":"string"},{"name":"date_from","in":"query","description":"Payment date range from","required":false,"type":"string"},{"name":"date_to","in":"query","description":"Payment date range to","required":false,"type":"string"},{"name":"amount_from","in":"query","description":"Amount range from","required":false,"type":"number","format":"double"},{"name":"amount_to","in":"query","description":"Amount range to","required":false,"type":"number","format":"double"},{"name":"currency","in":"query","description":"Currency ISO code must be 3 characters long.","required":false,"type":"string","maxLength":3,"minLength":3},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfPaymentsClientSearchResponse"}}}},"post":{"tags":["Client payment"],"summary":"Create a new payment record","operationId":"ClientPayment_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/PaymentsClientPostRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaymentsClientPostResponse"}}}}},"/client_payments/{id}":{"get":{"tags":["Client payment"],"summary":"Retrieve a payment record","operationId":"ClientPayment_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaymentsClientGetResponse"}}}},"delete":{"tags":["Client payment"],"summary":"Delete a payment record","operationId":"ClientPayment_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/documents/receipt":{"post":{"tags":["Document"],"summary":"Upload a receipt to the Receipt Hub","operationId":"Document_UploadReceipt","consumes":["multipart/form-data"],"produces":["application/json","text/json"],"parameters":[{"name":"file","in":"formData","description":"Receipt image","required":true,"type":"file"},{"name":"purchase_id","in":"formData","description":"If supplied the document will be attached to the supplied purchase ID. When absent the document will appear in the Receipt Hub untagged.","required":false,"type":"integer"},{"name":"capture_date","in":"formData","description":"A date time object representing when the receipt image was captured. Expected format: yyyy-MM-dd","required":true,"type":"string"},{"name":"receipt_name","in":"formData","description":"Optional name value assigned to the receipt for easy identification while untagged.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentUploadResponse"}}}}},"/documents/sales":{"post":{"tags":["Document"],"summary":"Upload a file attachment to a sales invoice","operationId":"Document_UploadSales","consumes":["multipart/form-data"],"produces":["application/json","text/json"],"parameters":[{"name":"file","in":"formData","description":"Receipt image","required":true,"type":"file"},{"name":"invoice_id","in":"formData","description":"The associated ID for the sales invoice you would like to attach to.","required":true,"type":"integer"},{"name":"notes","in":"formData","description":"Optional notes.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentUploadResponse"}}}}},"/documents/general":{"post":{"tags":["Document"],"summary":"Upload a document to the Document Management area","operationId":"Document_UploadGeneral","consumes":["multipart/form-data"],"produces":["application/json","text/json"],"parameters":[{"name":"file","in":"formData","description":"Receipt image","required":true,"type":"file"},{"name":"collection_name","in":"formData","description":"The Doc Management folder to which the file will be uploaded.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentUploadResponse"}}}}},"/inventory":{"get":{"tags":["Inventory"],"summary":"Search for an inventory item","operationId":"Inventory_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","required":false,"type":"string"},{"name":"order_direction","in":"query","required":false,"type":"string"},{"name":"include_deleted","in":"query","required":false,"type":"boolean"},{"name":"item_name","in":"query","required":false,"type":"string"},{"name":"item_description","in":"query","required":false,"type":"string"},{"name":"item_type","in":"query","required":false,"type":"string"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfInventoryItemModel"}}}},"post":{"tags":["Inventory"],"summary":"Create a new inventory item","operationId":"Inventory_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/InventoryCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InventoryItemModel"}}}}},"/inventory/{id}":{"get":{"tags":["Inventory"],"summary":"Get an inventory item by id","operationId":"Inventory_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InventoryItemModel"}}}},"delete":{"tags":["Inventory"],"summary":"Delete an existing inventory item","operationId":"Inventory_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"OK"}}}},"/invoices":{"get":{"tags":["Invoice"],"summary":"Search for invoices and estimates using a specific set of search parameters","operationId":"Invoice_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. invoice_number, issue_date, client_contact_name, gross_total.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"type","in":"query","description":"Type of document to return. E.g. invoice, estimate, recurring.","required":false,"type":"string"},{"name":"tag_name","in":"query","description":"Project tag name","required":false,"type":"string"},{"name":"include_deleted","in":"query","description":"Show previously deleted invoices. Default is false.","required":false,"type":"boolean"},{"name":"client_id","in":"query","description":"Client ID can be used to return all invoices for a given client.","required":false,"type":"integer","format":"int64"},{"name":"client_contact_name","in":"query","description":"Whole or part of client company name.","required":false,"type":"string"},{"name":"recurring_profile_id","in":"query","description":"Search by recurring profile ID","required":false,"type":"integer","format":"int64"},{"name":"invoice_number","in":"query","description":"Search by invoice number","required":false,"type":"string"},{"name":"item_name","in":"query","description":"Search by item name","required":false,"type":"string"},{"name":"item_desc","in":"query","description":"Search by item description","required":false,"type":"string"},{"name":"date_from","in":"query","description":"Issued date range from (yyyy-mm-dd)","required":false,"type":"string","format":"date"},{"name":"date_to","in":"query","description":"Issued date range to (yyyy-mm-dd)","required":false,"type":"string","format":"date"},{"name":"amount_from","in":"query","description":"Amount range from","required":false,"type":"number","format":"double"},{"name":"amount_to","in":"query","description":"Amount range to","required":false,"type":"number","format":"double"},{"name":"currency","in":"query","description":"Currency ISO code must be 3 characters long.","required":false,"type":"string","maxLength":3,"minLength":3},{"name":"status","in":"query","description":"Invoice status. E.g. draft, sent, disputed, paidpart, paidfull, active, unpaid, deleted, aged, paused, agreed, declined","required":false,"type":"string"},{"name":"purchase_ref","in":"query","description":"Purchase Reference. Maximum 25 characters long.","required":false,"type":"string","maxLength":25,"minLength":0},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfInvoiceModel"}}}},"post":{"tags":["Invoice"],"summary":"Create a new invoice, estimate or recurring invoice template","operationId":"Invoice_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/InvoicesCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceSingleModel"}}}}},"/invoices/{id}":{"get":{"tags":["Invoice"],"summary":"Retrieve a single invoice, estimate or recurring invoice template","operationId":"Invoice_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceSingleModel"}}}},"put":{"tags":["Invoice"],"summary":"Create a new invoice, estimate or recurring invoice template","operationId":"Invoice_Put","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/InvoicesUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceSingleModel"}}}},"delete":{"tags":["Invoice"],"summary":"Delete an invoice, estimate or recurring invoice template","operationId":"Invoice_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/InvoiceDeleteRequest"}}],"responses":{"204":{"description":"OK"}}}},"/invoices/{id}/get-pdf":{"get":{"tags":["Invoice"],"summary":"Retrieve a URL to for an invoice or estimate PDF document","operationId":"Invoice_GetPdf","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Invoice id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceGetPdfResponse"}}}}},"/invoices/send":{"post":{"tags":["Invoice"],"summary":"Send an invoice, estimate or recurring invoice template","operationId":"Invoice_Send","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceSendRequest"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceSendResponse"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceSendErrorResponse"}}}}}},"/journals":{"get":{"tags":["Journal"],"summary":"Search for a journal based on specific parameters","operationId":"Journal_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"date_from","in":"query","description":"Issued date range from (yyyy-mm-dd)","required":false,"type":"string"},{"name":"date_to","in":"query","description":"Issued date range to (yyyy-mm-dd)","required":false,"type":"string"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfJournalSearchResponseItem"}}}},"post":{"tags":["Journal"],"summary":"Create a new journal entry","operationId":"Journal_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/JournalCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JournalCreateResponse"}}}}},"/journals/{id}":{"get":{"tags":["Journal"],"summary":"Retreive an existing journal","operationId":"Journal_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JournalGetResponse"}}}},"delete":{"tags":["Journal"],"summary":"Delete an existing journal entry","operationId":"Journal_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"}}}},"/ledgers":{"get":{"tags":["Ledger"],"summary":"Query a nominal ledger based on a specific date or amount range","operationId":"Ledger_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. date, amount","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"nominal_code","in":"query","description":"The nominal code of the ledger you wish to query (must be between 1 and 9999).","required":true,"type":"integer","format":"int32"},{"name":"description","in":"query","description":"Search by whole or partial description.","required":false,"type":"string"},{"name":"notes","in":"query","description":"Search by whole or partial notes.","required":false,"type":"string"},{"name":"date_from","in":"query","description":"From date","required":false,"type":"string"},{"name":"date_to","in":"query","description":"To date","required":false,"type":"string"},{"name":"amount_from","in":"query","description":"Amount range from (use - prefix for debits)","required":false,"type":"number","format":"double"},{"name":"amount_to","in":"query","description":"Amount range to (use - prefix for debits)","required":false,"type":"number","format":"double"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LedgersSearchResponse"}}}}},"/ledgers/nominals":{"get":{"tags":["Ledger"],"summary":"Returns information on a specified range of nominal ledgers from the chart of accounts","operationId":"Ledger_Nominals","consumes":[],"produces":["application/json"],"parameters":[{"name":"nominal_code_start","in":"query","description":"The nominal code range from where you would like to start. Default is 1.","required":false,"type":"integer","format":"int32","maximum":9999,"minimum":1},{"name":"nominal_code_end","in":"query","description":"The nominal code range to where you would like to end. Default is 9999","required":false,"type":"integer","format":"int32","maximum":9999,"minimum":1}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LedgersNominalsResponse"}}}}}},"/projects":{"get":{"tags":["Project"],"summary":"Search for a project tag based on partial or complete string query","operationId":"Project_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"How many records would you like the API to return (MAX 200).","required":false,"type":"integer","format":"int32","maximum":200,"minimum":1},{"name":"tag","in":"query","description":"Search by partial tag name.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}},"post":{"tags":["Project"],"summary":"Create and attach a project tag to a sales invoice, purchase invoice, estimate or purchase order","operationId":"Project_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ProjectsCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}},"delete":{"tags":["Project"],"summary":"Delete a project tag from a sales invoice, purchase invoice, estimate or purchase order","operationId":"Project_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ProjectsDeleteRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/purchases":{"get":{"tags":["Purchase"],"summary":"Search for purchases using a specific set of search parameters","operationId":"Purchase_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. receipt_number, receipt_date, supplier, gross_total.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"include_deleted","in":"query","description":"Show previously deleted invoices. Default is false.","required":false,"type":"boolean"},{"name":"tag_name","in":"query","description":"Project tag name","required":false,"type":"string"},{"name":"supplier_name","in":"query","description":"Search by supplier name","required":false,"type":"string","maxLength":100,"minLength":0},{"name":"supplier_id","in":"query","description":"Search by supplier id","required":false,"type":"integer","format":"int64"},{"name":"supplier_reference","in":"query","description":"Search by supplier reference","required":false,"type":"string","maxLength":30,"minLength":0},{"name":"receipt_number","in":"query","description":"Search by receipt number","required":false,"type":"string","maxLength":20,"minLength":0},{"name":"item_desc","in":"query","description":"Search by item description","required":false,"type":"string","maxLength":35,"minLength":0},{"name":"date_from","in":"query","description":"Issued date range from (yyyy-mm-dd)","required":false,"type":"string"},{"name":"date_to","in":"query","description":"Issued date range to (yyyy-mm-dd)","required":false,"type":"string"},{"name":"amount_from","in":"query","description":"Amount range from","required":false,"type":"number","format":"double"},{"name":"amount_to","in":"query","description":"Amount range to","required":false,"type":"number","format":"double"},{"name":"currency","in":"query","description":"Currency ISO code. Maximum 3 characters long.","required":false,"type":"string","maxLength":3,"minLength":3},{"name":"status","in":"query","description":"Invoice status. E.g. draft, sent, disputed, paidpart, paidfull, active, unpaid, deleted, aged, paused, agreed, declined","required":false,"type":"string"},{"name":"has_receipts","in":"query","description":"set this to know purchases with or without receipts attached","required":false,"type":"boolean"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfPurchasesSearchResponse"}}}},"post":{"tags":["Purchase"],"summary":"Create a new purchase","operationId":"Purchase_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/PurchasesPostRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchasesGetResponse"}}}}},"/purchases/{id}":{"get":{"tags":["Purchase"],"summary":"Retrieve a single purchase","operationId":"Purchase_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Purchase id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchasesGetResponse"}}}},"put":{"tags":["Purchase"],"summary":"Update a purchase","operationId":"Purchase_Put","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Purchase id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PurchasesPutRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchasesGetResponse"}}}},"delete":{"tags":["Purchase"],"summary":"Delete a purchase","operationId":"Purchase_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Purchase id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/InvoiceDeleteRequest"}}],"responses":{"204":{"description":"OK"}}}},"/purchase-orders/{id}":{"get":{"tags":["Purchase order"],"summary":"Retrieve a single purchase","operationId":"PurchaseOrder_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Purchase order id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchaseOrdersGetResponse"}}}},"put":{"tags":["Purchase order"],"summary":"Update a purchase order","operationId":"PurchaseOrder_PutOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Purchase order id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PurchaseOrderPutRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchasesGetResponse"}}}},"delete":{"tags":["Purchase order"],"summary":"Delete a purchase order","operationId":"PurchaseOrder_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Purchase order id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"OK"}}}},"/purchase-orders":{"post":{"tags":["Purchase order"],"summary":"Create a new purchase order","operationId":"PurchaseOrder_PostOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/PurchaseOrderPostRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchaseOrdersGetResponse"}}}}},"/reports/chart-of-accounts":{"get":{"tags":["Reports"],"summary":"Retreives a chart of nominal accounts","operationId":"Reports_ChartOfAccounts","consumes":[],"produces":["application/json"],"parameters":[{"name":"nominal_code_start","in":"query","description":"The nominal code range from where you would like to start. Default is 1","required":false,"type":"integer","format":"int32","maximum":9999,"minimum":1},{"name":"nominal_code_end","in":"query","description":"The nominal code range to where you would like to end. Default is 9999","required":false,"type":"integer","format":"int32","maximum":9999,"minimum":1},{"name":"date_from","in":"query","description":"From date. If excluded returns all transactions from beginning of time.","required":false,"type":"string","format":"date"},{"name":"date_to","in":"query","description":"To date. If excluded returns all transactions to the current date.","required":false,"type":"string","format":"date"},{"name":"exclude_zero_balance_ledgers","in":"query","description":"Excludes any ledgers that hold a zero balance for the given date range. If excluded will assume to be true.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelOfChartOfAccountsResponse"}}}}},"/reports/balance-sheet":{"get":{"tags":["Reports"],"summary":"Retreives a balance sheet report","operationId":"Reports_BalanceSheet","consumes":[],"produces":["application/json"],"parameters":[{"name":"date_to","in":"query","description":"To date. If excluded returns all transactions to the current date.","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BalanceSheetResponse"}}}}},"/reports/ageing":{"get":{"tags":["Reports"],"summary":"Retreives a report of aged debtor or creditor invoices","operationId":"Reports_Ageing","consumes":[],"produces":["application/json"],"parameters":[{"name":"type","in":"query","description":"Type of report (debtor/creditor)","required":false,"type":"string"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfAgeingResponse"}}}}},"/reports/profit-and-loss":{"get":{"tags":["Reports"],"summary":"Retreives a profit and loss report","operationId":"Reports_ProfitAndLoss","consumes":[],"produces":["application/json"],"parameters":[{"name":"date_from","in":"query","description":"From date. If excluded returns all transactions from beginning of time.","required":false,"type":"string","format":"date"},{"name":"date_to","in":"query","description":"To date. If excluded returns all transactions to the current date.","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfitAndLossResponse"}}}}},"/reports/vat-obligations":{"get":{"tags":["Reports"],"summary":"Retreives a list of filed and open VAT returns","operationId":"Reports_VatObligations","consumes":[],"produces":["application/json"],"parameters":[{"name":"date_from","in":"query","description":"From date.","required":false,"type":"string","format":"date"},{"name":"date_to","in":"query","description":"To date.","required":false,"type":"string","format":"date"},{"name":"hmrc_account_id","in":"query","required":true,"type":"integer","format":"int32"},{"name":"hmrc_account_type","in":"query","description":"Account Type (organisation, individual, agent)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelOfVatObligationsResponse"}}}}},"/reports/subscriptions":{"get":{"tags":["Reports"],"summary":"Retreives a list of subscriptions","operationId":"Reports_Subscriptions","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelOfSubscriptionsResponse"}}}}},"/reports/eventlog":{"get":{"tags":["Reports"],"summary":"Query the system event log","operationId":"Reports_EventLog","consumes":[],"produces":["application/json"],"parameters":[{"name":"date_from","in":"query","description":"From date.","required":false,"type":"string","format":"date"},{"name":"date_to","in":"query","description":"To date.","required":false,"type":"string","format":"date"},{"name":"reference_type","in":"query","description":"Reference type, \"client\", \"supplier\", \"invoice\", \"purchase\", \"purorder\", \"statement\", \"admin\", \"paypal\", \"backup\", \"vat\", \"psp\", \"mtd\", \"itsa\", \"recpur\", \"account\", \"journal\", \"letter\"","required":false,"type":"string"},{"name":"reference_id","in":"query","description":"Here you would supply the client_id, supplier_id, invoice_id or purchase_id depending on the reference_type","required":false,"type":"string"},{"name":"user_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"type":"integer","format":"int32"},{"name":"next_token","in":"query","description":"Supply the next_token value from a previous response to retrieve the next page of results.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventLogResponse"}}}}},"/suppliers":{"get":{"tags":["Supplier"],"summary":"Retrieve supplier records based on a set of search parameters","operationId":"Supplier_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. created_date, company_name.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"include_deleted","in":"query","description":"Show previously deleted clients. Default is false.","required":false,"type":"boolean"},{"name":"company_name","in":"query","description":"Search by partial company name.","required":false,"type":"string"},{"name":"first_name","in":"query","description":"Search by first name.","required":false,"type":"string"},{"name":"surname","in":"query","description":"Search by surname.","required":false,"type":"string"},{"name":"email","in":"query","description":"Search by email.","required":false,"type":"string"},{"name":"supplier_reference","in":"query","description":"Search by supplier reference.","required":false,"type":"string"},{"name":"telephone","in":"query","description":"Search by telephone.","required":false,"type":"string"},{"name":"include_total_invoiced","in":"query","description":"Returns the total amount invoiced for each supplier.","required":false,"type":"boolean"},{"name":"include_total_paid","in":"query","description":"Returns the total payments received for each supplier.","required":false,"type":"boolean"},{"name":"include_total_credits","in":"query","description":"Returns the total of prepayments held on account for each supplier.","required":false,"type":"boolean"},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfSupplierSearchModel"}}}},"post":{"tags":["Supplier"],"summary":"Create a new supplier record","operationId":"Supplier_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SupplierCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SupplierBaseModel"}}}}},"/suppliers/{id}":{"get":{"tags":["Supplier"],"summary":"Retrieve supplier and contact data","operationId":"Supplier_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SupplierBaseModel"}}}},"put":{"tags":["Supplier"],"summary":"Update a supplier record","operationId":"Supplier_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/SupplierUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SupplierBaseModel"}}}},"delete":{"tags":["Supplier"],"summary":"Delete a supplier record","operationId":"Supplier_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"OK"}}}},"/suppliers/{id}/contacts":{"get":{"tags":["Supplier"],"summary":"Retrieve supplier contact data","operationId":"Supplier_ContactGet","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SupplierContactModel"}}}}},"post":{"tags":["Supplier"],"summary":"Create a new supplier contact record","operationId":"Supplier_ContactCreate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/SupplierContactCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SupplierContactModel"}}}}},"/suppliers/{id}/contacts/{contactId}":{"put":{"tags":["Supplier"],"summary":"Update an existing supplier contact record","operationId":"Supplier_ContactUpdate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","description":"Supplier contact id","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/SupplierContactUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SupplierContactModel"}}}},"delete":{"tags":["Supplier"],"summary":"Delete a supplier contact record","operationId":"Supplier_ContactDelete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Supplier id","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","description":"Supplier contact id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"OK"}}}},"/supplier_payments":{"get":{"tags":["Supplier payment"],"summary":"Search for a payment based on specific search parameters","operationId":"SupplierPayment_Search","consumes":[],"produces":["application/json"],"parameters":[{"name":"order_column","in":"query","description":"Which columns should be used for ordering the record set. E.g. amount, pay_date.","required":false,"type":"string"},{"name":"order_direction","in":"query","description":"Order direction. Ascending (asc) or Descending (desc).","required":false,"type":"string"},{"name":"include_deleted","in":"query","description":"Show previously deleted payments. Default is false.","required":false,"type":"boolean"},{"name":"supplier_id","in":"query","description":"Show all payments for a given Supplier ID.","required":false,"type":"integer","format":"int64"},{"name":"supplier_name","in":"query","description":"Whole or part of client supplier name.","required":false,"type":"string","maxLength":100,"minLength":0},{"name":"type","in":"query","description":"allocated/unallocated.","required":false,"type":"string"},{"name":"date_from","in":"query","description":"Payment date range from","required":false,"type":"string"},{"name":"date_to","in":"query","description":"Payment date range to","required":false,"type":"string"},{"name":"amount_from","in":"query","description":"Amount range from","required":false,"type":"number","format":"double"},{"name":"amount_to","in":"query","description":"Amount range to","required":false,"type":"number","format":"double"},{"name":"currency","in":"query","description":"Currency ISO code must be 3 characters long.","required":false,"type":"string","maxLength":3,"minLength":3},{"name":"offset","in":"query","description":"Page offset. Zero (0) would show results from the beginning of the record set. Offset can be used for paging functions.","required":false,"type":"integer","format":"int32","maximum":1000000,"minimum":0},{"name":"limit","in":"query","description":"How many records would you like the API to return.","required":false,"type":"integer","format":"int32","maximum":100,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArrayModelPagingOfPaymentsSupplierSearchResponse"}}}},"post":{"tags":["Supplier payment"],"summary":"Create a new payment record","operationId":"SupplierPayment_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/PaymentsSupplierPostRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaymentsSupplierPostResponse"}}}}},"/supplier_payments/{id}":{"get":{"tags":["Supplier payment"],"summary":"Retrieve a payment record","operationId":"SupplierPayment_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaymentsSupplierGetResponse"}}}},"delete":{"tags":["Supplier payment"],"summary":"Delete a payment record","operationId":"SupplierPayment_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}}},"definitions":{"AccountDto":{"type":"object","properties":{"AccNumber":{"type":"string"},"BusinessName":{"type":"string"},"CompanyNumber":{"type":"string"},"CreatedDate":{"format":"date-time","type":"string"},"BusinessType":{"type":"string"},"Address":{"type":"string"},"Postcode":{"type":"string"},"IsVatRegistered":{"type":"boolean"},"VatRegistrationNumber":{"type":"string"},"YearEndDate":{"type":"string"},"AccountStats":{"$ref":"#/definitions/AccountStatsDto"}}},"AccountStatsDto":{"type":"object","properties":{"LastUpdated":{"format":"date-time","type":"string"},"AccountSize":{"type":"string"},"NominalCount_12m":{"format":"int32","type":"integer"},"NominalCount":{"format":"int32","type":"integer"},"SalesInvoiceCount":{"format":"int32","type":"integer"},"PurchaseInvoiceCount":{"format":"int32","type":"integer"},"ClientCount":{"format":"int32","type":"integer"},"SupplierCount":{"format":"int32","type":"integer"},"RollingTurnover":{"format":"double","type":"number"}}},"ArrayModelPagingOfBanksTransactionDetailedResponse":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/BanksTransactionDetailedResponse"},"readOnly":true}}},"PaginationModel":{"type":"object","properties":{"total":{"format":"int32","type":"integer"},"next":{"type":"string"},"previous":{"type":"string"}}},"BanksTransactionDetailedResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"date":{"type":"string"},"reference":{"type":"string"},"notes":{"type":"string"},"amount":{"format":"double","type":"number"},"tag_status":{"type":"string"},"balance":{"format":"double","type":"number"}}},"BanksCreateTransactionRequest":{"required":["date","reference","amount"],"type":"object","properties":{"date":{"description":"Date of the transaction (YYYY-MM-DD).","type":"string"},"reference":{"description":"Reference for the transaction.","maxLength":100,"minLength":2,"type":"string"},"notes":{"description":"Optional transaction notes","maxLength":240,"minLength":2,"type":"string"},"amount":{"format":"double","description":"For \"money out\" transactions enter as a negative value.","type":"number","example":12.34},"duplicate_check":{"description":"Set to true by default. Automatically skips where a item is found with a matching date, reference and amount.","type":"boolean"}}},"BanksTransactionResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"date":{"type":"string"},"reference":{"type":"string"},"notes":{"type":"string"},"amount":{"format":"double","type":"number"},"tag_status":{"type":"string"}}},"ArrayModelOfBanksAccountsDetailResponse":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/BanksAccountsDetailResponse"},"readOnly":true}}},"BanksAccountsDetailResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"name":{"type":"string"},"nominal_code":{"format":"int32","type":"integer"},"bank_type":{"type":"string"},"currency":{"type":"string"},"is_default":{"type":"boolean"},"is_hidden":{"type":"boolean"},"sort_code":{"type":"string"},"account_no":{"type":"string"},"consents":{"type":"array","items":{"$ref":"#/definitions/Consent"}}}},"Consent":{"type":"object","properties":{"bank_name":{"type":"string"},"expiry_date":{"type":"string"}}},"BanksAccountsCreateRequest":{"required":["bank_name_id","type","name"],"type":"object","properties":{"bank_name_id":{"format":"int32","description":"The bank name ID. Each banking provider (e.g. Barclays) has a corresponding ID. Use /banks endpoint to get list of accepted values","type":"integer"},"type":{"description":"Account type. E.g. current, petty, buildingsoc, loan, merchant, creditcard, reserve","type":"string"},"name":{"description":"A name for this bank account","type":"string"},"currency":{"description":"Currency Code (Default is GBP). Specifiy an alternative currency only if you have enabled multi-currency accounting.","maxLength":3,"minLength":3,"type":"string"},"account_number":{"description":"A bank account number if applicable","maxLength":10,"minLength":0,"pattern":"^$|^\\d{3,10}$","type":"string"},"sort_code":{"description":"A sort code if applicable","maxLength":8,"minLength":0,"pattern":"^$|^\\d{2}-\\d{2}-\\d{2}$","type":"string"},"opening_balance":{"$ref":"#/definitions/OpeningBalance"},"dashboard_pinned":{"description":"Show the account balance on the dashboard for this account. Default is false.","type":"boolean"}}},"OpeningBalance":{"type":"object","properties":{"date":{"description":"The date the opening balance should be committed","type":"string"},"amount":{"format":"double","description":"Opening balance amount","type":"number","example":12.34}}},"BanksAccountsResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"name":{"type":"string"},"nominal_code":{"format":"int32","type":"integer"},"bank_type":{"type":"string"},"currency":{"type":"string"},"is_default":{"type":"boolean"},"is_hidden":{"type":"boolean"},"sort_code":{"type":"string"},"account_no":{"type":"string"}}},"BanksAccountsBalancesResponse":{"type":"object","properties":{"balance":{"format":"double","type":"number"}}},"ArrayModelOfBanksIdsResponse":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/BanksIdsResponse"},"readOnly":true}}},"BanksIdsResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"name":{"type":"string"},"type":{"type":"string"},"logo_path":{"type":"string"}}},"ArrayModelOfClientTradingStylesResponse":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/ClientTradingStylesResponse"},"readOnly":true}}},"ClientTradingStylesResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"created_date":{"format":"date-time","description":"Date and time in ISO 8601 format","type":"string","example":"2024-12-31T12:34:56Z"},"name":{"type":"string"},"business_name":{"type":"string"},"sender_address":{"type":"string"},"web_address":{"type":"string"},"email_address":{"type":"string"},"invoice_template":{"format":"int64","type":"integer"},"client_area_template":{"type":"string"}}},"ArrayModelPagingOfClientSearchModel":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/ClientSearchModel"},"readOnly":true}}},"ClientSearchModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"account_reference":{"type":"string"},"created_date":{"format":"date-time","description":"Date and time in ISO 8601 format","type":"string","example":"2024-12-31T12:34:56Z"},"company_name":{"type":"string"},"company_number":{"type":"string"},"status":{"type":"string"},"primary_contact":{"$ref":"#/definitions/ClientContactModel"},"account_balance":{"format":"double","type":"number","example":12.34},"currency":{"type":"string"},"total_invoiced":{"format":"double","type":"number","example":12.34},"total_paid":{"format":"double","type":"number","example":12.34},"total_credits":{"format":"double","type":"number"}}},"ClientContactModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"first_name":{"type":"string"},"surname":{"type":"string"},"telephone1":{"type":"string"},"telephone2":{"type":"string"},"email":{"type":"string"},"is_default":{"type":"boolean"}}},"ClientCreateRequest":{"required":["company_name"],"type":"object","properties":{"company_name":{"description":"Company name","maxLength":100,"minLength":0,"type":"string"},"company_number":{"description":"Company number","maxLength":10,"minLength":0,"type":"string"},"account_reference":{"description":"Your own account identifier (Optional)","maxLength":30,"minLength":0,"type":"string"},"address_line1":{"description":"Address line1","maxLength":75,"minLength":0,"type":"string"},"address_line2":{"description":"Address line2","maxLength":75,"minLength":0,"type":"string"},"address_line3":{"description":"Address line3","maxLength":75,"minLength":0,"type":"string"},"town":{"description":"Town","maxLength":75,"minLength":0,"type":"string"},"country_iso":{"description":"Country iso","maxLength":2,"minLength":2,"type":"string"},"post_code":{"description":"Post code","maxLength":15,"minLength":0,"type":"string"},"vat_number":{"description":"Vat number","maxLength":20,"minLength":0,"type":"string"},"go_cardless_mandate":{"description":"Optional GoCardless Direct Debit mandate ID","maxLength":15,"minLength":6,"type":"string"},"allow_attach_pdf":{"description":"Set this to allow invoices/statements and estimates to be attached to emails in PDF format","type":"boolean"},"default_send_method":{"description":"What default send method would you like to use for outbound invoices? E.g. email, snailmail","type":"string"},"default_currency":{"description":"If not supply will revert to account default.","maxLength":3,"minLength":3,"type":"string"},"default_term":{"format":"int32","description":"If not supply will revert to account default.","type":"integer"},"trading_style":{"format":"int32","description":"The Trading Style ID where multiple trading styles are defined on the account. To locate the ID click to edit the trading style within the web application.","type":"integer"},"payment_restrictions":{"description":"A list of restricted payment processors for this client. E.g. paypal, gocardless, paymentsense, bitpay, stripe, worldpay, sagepay","type":"array","items":{"type":"string"}}},"example":{"company_name":"company_name","company_number":"01234567","address_line1":"address_line1","address_line2":"address_line2","address_line3":"address_line3","allow_attach_pdf":true}},"ClientBaseModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"company_name":{"type":"string"},"company_number":{"type":"string"},"account_reference":{"type":"string"},"address_line1":{"type":"string"},"address_line2":{"type":"string"},"address_line3":{"type":"string"},"town":{"type":"string"},"country_iso":{"type":"string"},"country_name":{"type":"string"},"post_code":{"type":"string"},"vat_number":{"type":"string"},"status":{"type":"string"},"allow_attach_pdf":{"type":"boolean"},"credit_limit":{"format":"double","type":"number"},"preferences":{"$ref":"#/definitions/ClientPreferences"}}},"ClientPreferences":{"type":"object","properties":{"default_send_method":{"type":"string"},"default_currency":{"type":"string"},"default_term":{"format":"int32","type":"integer"},"trading_style":{"format":"int64","type":"integer"}}},"ClientModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"company_name":{"type":"string"},"company_number":{"type":"string"},"account_reference":{"type":"string"},"address_line1":{"type":"string"},"address_line2":{"type":"string"},"address_line3":{"type":"string"},"town":{"type":"string"},"country_iso":{"type":"string"},"country_name":{"type":"string"},"post_code":{"type":"string"},"vat_number":{"type":"string"},"status":{"type":"string"},"allow_attach_pdf":{"type":"boolean"},"credit_limit":{"format":"double","type":"number"},"preferences":{"$ref":"#/definitions/ClientPreferences"},"direct_debit_mandate_id":{"type":"string"},"direct_debit_new_mandate_url":{"type":"string"},"contacts":{"type":"array","items":{"$ref":"#/definitions/ClientContactExModel"}},"financial":{"$ref":"#/definitions/ClientFinacialModel"}}},"ClientContactExModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"first_name":{"type":"string"},"surname":{"type":"string"},"telephone1":{"type":"string"},"telephone2":{"type":"string"},"email":{"type":"string"},"is_default":{"type":"boolean"},"job_title":{"type":"string"}}},"ClientFinacialModel":{"type":"object","properties":{"credits":{"type":"array","items":{"$ref":"#/definitions/ClientFinacialCreditModel"}},"balances":{"type":"array","items":{"$ref":"#/definitions/ClientFinacialBalanceModel"}}}},"ClientFinacialCreditModel":{"type":"object","properties":{"amount":{"format":"double","type":"number","example":12.34},"currency":{"type":"string"}}},"ClientFinacialBalanceModel":{"type":"object","properties":{"amount":{"format":"double","type":"number","example":12.34},"currency":{"type":"string"}}},"ClientUpdateRequest":{"type":"object","properties":{"company_name":{"description":"Company name","maxLength":100,"minLength":0,"type":"string"},"company_number":{"description":"Company number","maxLength":10,"minLength":0,"type":"string"},"account_reference":{"description":"Your own account identifier (Optional)","maxLength":30,"minLength":0,"type":"string"},"address_line1":{"description":"Address line1","maxLength":75,"minLength":0,"type":"string"},"address_line2":{"description":"Address line2","maxLength":75,"minLength":0,"type":"string"},"address_line3":{"description":"Address line3","maxLength":75,"minLength":0,"type":"string"},"town":{"description":"Town","maxLength":75,"minLength":0,"type":"string"},"country_iso":{"description":"Country iso","maxLength":2,"minLength":2,"type":"string"},"post_code":{"description":"Post code","maxLength":15,"minLength":0,"type":"string"},"vat_number":{"description":"Vat number","maxLength":20,"minLength":0,"type":"string"},"go_cardless_mandate":{"description":"Optional GoCardless Direct Debit mandate ID","maxLength":15,"minLength":6,"type":"string"},"allow_attach_pdf":{"description":"Set this to allow invoices/statements and estimates to be attached to emails in PDF format","type":"boolean"},"default_send_method":{"description":"What default send method would you like to use for outbound invoices? E.g. email, snailmail","type":"string"},"default_currency":{"description":"If not supply will revert to account default.","maxLength":3,"minLength":3,"type":"string"},"default_term":{"format":"int32","description":"If not supply will revert to account default.","type":"integer"},"trading_style":{"format":"int32","description":"The Trading Style ID where multiple trading styles are defined on the account. To locate the ID click to edit the trading style within the web application.","type":"integer"},"payment_restrictions":{"description":"A list of restricted payment processors for this client. E.g. paypal, gocardless, paymentsense, bitpay, stripe, worldpay, sagepay","type":"array","items":{"type":"string"}}},"example":{"company_name":"company_name","company_number":"01234567","address_line1":"address_line1","address_line2":"address_line2","address_line3":"address_line3","allow_attach_pdf":true}},"ClientContactCreateRequest":{"required":["first_name","surname","email"],"type":"object","properties":{"first_name":{"description":"Fist name","maxLength":50,"minLength":0,"type":"string"},"surname":{"description":"Surname","maxLength":50,"minLength":0,"type":"string"},"is_default":{"description":"Telephone1","type":"boolean"},"telephone1":{"description":"Telephone1","maxLength":20,"minLength":0,"type":"string"},"telephone2":{"description":"Telephone2","maxLength":20,"minLength":0,"type":"string"},"email":{"description":"Email","maxLength":100,"minLength":0,"type":"string"},"password":{"description":"Password","maxLength":30,"minLength":6,"type":"string"},"job_title":{"description":"Job Title","maxLength":150,"minLength":0,"type":"string"}},"example":{"first_name":"first_name","surname":"surname","is_default":false,"telephone1":"telephone1","telephone2":"telephone2","email":"email@email.email","password":"password","job_title":"job title"}},"ClientContactUpdateRequest":{"type":"object","properties":{"first_name":{"description":"Fist name","maxLength":50,"minLength":0,"type":"string"},"surname":{"description":"Surname","maxLength":50,"minLength":0,"type":"string"},"is_default":{"description":"Telephone1","type":"boolean"},"telephone1":{"description":"Telephone1","maxLength":20,"minLength":0,"type":"string"},"telephone2":{"description":"Telephone2","maxLength":20,"minLength":0,"type":"string"},"email":{"description":"Email","maxLength":100,"minLength":0,"type":"string"},"password":{"description":"Password","maxLength":30,"minLength":6,"type":"string"},"job_title":{"description":"Job Title","maxLength":150,"minLength":0,"type":"string"}},"example":{"first_name":"first_name","surname":"surname","is_default":false,"telephone1":"telephone1","telephone2":"telephone2","email":"email@email.email","password":"password","job_title":"job title"}},"ClientLoginRequest":{"type":"object","properties":{"landing_page":{"$ref":"#/definitions/LandingPageModel"}}},"LandingPageModel":{"type":"object","properties":{"dashboard":{"description":"Redirect the client to the client area dashboard.","type":"boolean"},"invoice_id":{"format":"int64","description":"Redirect the client directly to a specific invoice preview page.","type":"integer"}}},"ClientLoginResponse":{"type":"object","properties":{"redirect_url":{"description":"The generated secure single sign-on redirect URL.","type":"string"}}},"ClientNewDDRequest":{"type":"object","properties":{"invoice":{"$ref":"#/definitions/ClientNewDDInvoice"},"account":{"$ref":"#/definitions/ClientNewDDAccount"},"charge_at_date":{"format":"date-time","type":"string"}}},"ClientNewDDInvoice":{"required":["id"],"type":"object","properties":{"id":{"format":"int64","type":"integer"},"amount":{"format":"double","type":"number"}}},"ClientNewDDAccount":{"required":["payment_name","amount"],"type":"object","properties":{"payment_name":{"type":"string"},"amount":{"format":"double","type":"number"}}},"ClientNewDDResponse":{"type":"object","properties":{"bill_id":{"type":"string"}}},"ArrayModelPagingOfPaymentsClientSearchResponse":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/PaymentsClientSearchResponse"},"readOnly":true}}},"PaymentsClientSearchResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"client_id":{"format":"int64","type":"integer"},"client_name":{"type":"string"},"amount":{"format":"double","type":"number","example":12.34},"amount_in_currency":{"format":"double","type":"number"},"currency":{"type":"string"},"nominal_code":{"format":"int32","type":"integer"},"status":{"type":"string"}}},"PaymentsClientPostRequest":{"required":["type","date","client_id","amount","currency"],"type":"object","properties":{"type":{"description":"payment/credit - Payments are attributed to an invoice. Credits are used for holding funds on a client or supplier account.","type":"string"},"date":{"description":"Date the payment was made.","type":"string"},"invoice_id":{"format":"int64","description":"Provide an invoice ID if type is payment.","type":"integer"},"client_id":{"format":"int64","description":"Client ID for which the payment will be linked to.","type":"integer"},"amount":{"format":"double","description":"Total amount of payment.","type":"number"},"currency":{"description":"Payment currency.","maxLength":3,"minLength":3,"type":"string"},"nominal_code":{"format":"int32","description":"Missing bank nominal code.","type":"integer"},"apply_credit":{"description":"When set to true we will first try to pay the invoice from available credit on the client account.","type":"boolean"},"send_confirmation":{"description":"When set to true we will send an email notification to the client.","type":"boolean"},"notes":{"description":"Additional notes relating to this payment.","maxLength":100,"minLength":0,"type":"string"}},"example":{"type":"payment","date":"2026-08-19","invoice_id":2,"client_id":1,"amount":12.0,"currency":"GBP","nominal_code":1200,"apply_credit":false,"send_confirmation":false}},"PaymentsClientPostResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"client_id":{"format":"int64","type":"integer"},"client_name":{"type":"string"},"amount":{"format":"double","type":"number","example":12.34},"amount_in_currency":{"format":"double","type":"number"},"currency":{"type":"string"},"notes":{"type":"string"},"status":{"type":"string"},"parent_id":{"format":"int64","type":"integer"},"nominal_code":{"format":"int32","type":"integer"},"exchange_rate":{"format":"double","type":"number"},"invoices":{"type":"array","items":{"$ref":"#/definitions/Invoice"}},"refund":{"type":"array","items":{"$ref":"#/definitions/Refund"}}}},"Invoice":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"number":{"type":"string"},"amount":{"format":"double","type":"number","example":12.34},"amount_in_currency":{"format":"double","type":"number"},"date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"}}},"Refund":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"amount":{"format":"double","type":"number","example":12.34}}},"PaymentsClientGetResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"client_id":{"format":"int64","type":"integer"},"client_name":{"type":"string"},"amount":{"format":"double","type":"number","example":12.34},"amount_in_currency":{"format":"double","type":"number"},"currency":{"type":"string"},"notes":{"type":"string"},"status":{"type":"string"},"parent_id":{"format":"int64","type":"integer"},"nominal_code":{"format":"int32","type":"integer"},"exchange_rate":{"format":"double","type":"number"},"invoices":{"type":"array","items":{"$ref":"#/definitions/Invoice"}},"refund":{"type":"array","items":{"$ref":"#/definitions/Refund"}},"total_allocated":{"format":"double","type":"number","example":12.34}}},"DocumentUploadResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"path":{"type":"string"}}},"ArrayModelPagingOfInventoryItemModel":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/InventoryItemModel"},"readOnly":true}}},"InventoryItemModel":{"type":"object","properties":{"item_id":{"format":"int64","type":"integer"},"created_date":{"type":"string"},"item_name":{"type":"string"},"item_description":{"type":"string"},"item_value":{"format":"double","type":"number"},"item_type":{"type":"string"},"vat_percentage":{"format":"double","type":"number"},"status":{"type":"string"},"quantity":{"format":"double","type":"number"},"nominal_code":{"format":"int32","type":"integer"}}},"InventoryCreateRequest":{"required":["item_name","unit_cost","item_type"],"type":"object","properties":{"item_id":{"format":"int64","type":"integer"},"item_name":{"type":"string"},"item_description":{"type":"string"},"unit_cost":{"format":"double","type":"number"},"item_type":{"type":"string"},"vat_rate":{"format":"double","type":"number"},"nominal_code":{"format":"int32","type":"integer"},"qty":{"format":"double","type":"number"}}},"ArrayModelPagingOfInvoiceModel":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/InvoiceModel"},"readOnly":true}}},"InvoiceModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"created_date":{"format":"date-time","description":"Date and time in ISO 8601 format","type":"string","example":"2024-12-31T12:34:56Z"},"issue_date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"due_date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"invoice_number":{"type":"string"},"purchase_reference":{"type":"string"},"description":{"type":"string"},"client_id":{"format":"int64","type":"integer"},"client_company_name":{"type":"string"},"client_contact_name":{"type":"string"},"gross_total":{"format":"double","type":"number","example":12.34},"vat_total":{"format":"double","type":"number","example":12.34},"net_total":{"format":"double","type":"number","example":12.34},"currency":{"type":"string"},"term_days":{"format":"int32","type":"integer"},"type":{"type":"string"},"status":{"type":"string"},"recurring_profile_id":{"format":"int64","type":"integer"}}},"InvoicesCreateRequest":{"required":["type","client_id","currency"],"type":"object","properties":{"type":{"description":"Type of document. E.g. invoice, estimate, recurring.","type":"string"},"client_id":{"format":"int64","description":"Unique Client ID.","type":"integer"},"client_contact_name":{"description":"Contact name to appear on the invoice. Omit node to apply default contact for the client.","maxLength":100,"minLength":0,"type":"string"},"client_address":{"description":"Supply a different client address to overide the default. Omit node to apply default address on file.","type":"string"},"client_country":{"description":"Client ISO 3166 Country Code. 2 characters long.","maxLength":2,"minLength":2,"type":"string"},"currency":{"description":"Currency ISO code must be 3 characters long.","maxLength":3,"minLength":3,"type":"string"},"discount_percentage":{"format":"double","description":"Optional discount percentage applied to invoice total.","type":"number","example":12.34},"term_days":{"format":"int32","description":"Number of days permitted to pay the invoice.","type":"integer"},"language":{"description":"ISO 639-1 language  code. Maximum 2 characters long.","maxLength":2,"minLength":0,"type":"string"},"description":{"description":"A brief description of the invoice raised. If not supplied will assume the description of the first invoice item/task. Between 2-35 characters long.","maxLength":35,"minLength":2,"type":"string"},"payment_term_notes":{"description":"Additional invoice terms","type":"string"},"notes":{"description":"Additional notes to appear on invoice.","type":"string"},"ec_vat_exempt":{"description":"Legacy pre-Brexit EC VAT flag. Do not use.","type":"boolean"},"invoice_number":{"description":"If invoice number is not supplied the system will auto-increment. Between 1 and 20 characters long","maxLength":20,"minLength":1,"type":"string"},"issue_date":{"type":"string"},"purchase_reference":{"type":"string"},"vat_codes":{"description":"Possible codes: exempt (VAT Exempt), oos (VAT Out of Scope), cisrc (CIS Reverse Charge), nisogs (EU supply of goods), niserv (EU supply of services).","type":"array","items":{"type":"string"}},"tags":{"description":"Provide up to 5 additional project tags","type":"array","items":{"type":"string"}},"item_lines":{"description":"Use for products and services priced using the quantity and unit cost model.","type":"array","items":{"$ref":"#/definitions/InvoicesCreateLine"}},"task_lines":{"description":"Use for itemising elements charged on an hourly rate at a fixed amount per hour.","type":"array","items":{"$ref":"#/definitions/InvoicesCreateTask"}},"recurring":{"$ref":"#/definitions/InvoicesCreateScheduleRecurring"}},"example":{"type":"invoice","client_id":1,"client_contact_name":"client_contact_name","client_address":"client_address","client_country":"GB","currency":"GBP","term_days":1,"language":"en","invoice_number":"invoice_number","issue_date":"2026-08-19","purchase_reference":"purchase reference","item_lines":[{"item_name":"name","description":"description","nominal_code":4000,"vat_rate":20.0,"vat_amount":2.05,"unit_cost":10.23,"qty":1.1}],"task_lines":[{"item_name":"task","description":"task description","nominal_code":4200,"hourly_rate":1.2,"hours":2.5,"vat_rate":10.0,"vat_amount":1.1}],"recurring":{"interval":"MONTH","frequency":1,"start_date":"2026-08-19","dd_auto_bill":false,"send_by_email":false,"send_by_post":false,"auto_activate":false}}},"InvoicesCreateLine":{"required":["description","unit_cost","qty"],"type":"object","properties":{"item_id":{"format":"int32","type":"integer"},"item_name":{"description":"Item Name (Short). Max 25 characters","maxLength":25,"minLength":0,"type":"string"},"description":{"description":"Item Description (Long). Max 5000 characters","maxLength":5000,"minLength":0,"type":"string"},"nominal_code":{"format":"int32","description":"Nominal Code. Between 1 and 9999","type":"integer"},"vat_rate":{"format":"double","description":"The VAT rate to be applied. For non-VAT Reg suppliers use 0.00","type":"number","example":12.34},"vat_amount":{"format":"double","description":"Overrides the VAT Rate for specific VAT amounts. If missing will be calculated from the rate.","type":"number","example":12.34},"unit_cost":{"format":"double","type":"number","example":12.34},"qty":{"format":"double","type":"number","example":12.34}}},"InvoicesCreateTask":{"required":["item_name","description","hourly_rate","hours"],"type":"object","properties":{"id":{"format":"int32","type":"integer"},"item_name":{"description":"Item Name (Short). Max 25 characters","maxLength":25,"minLength":0,"type":"string"},"description":{"description":"Item Description (Long). Max 1000 characters","maxLength":1000,"minLength":0,"type":"string"},"nominal_code":{"format":"int32","description":"Nominal Code. Between 1 and 9999","type":"integer"},"hourly_rate":{"format":"double","description":"","type":"number","example":12.34},"hours":{"format":"double","description":"Number of hours","type":"number","example":12.34},"vat_rate":{"format":"double","type":"number","example":12.34},"vat_amount":{"format":"double","description":"Optional tax element to be levied on the item. Between 1 and 7 characters long","type":"number","example":12.34}}},"InvoicesCreateScheduleRecurring":{"required":["interval","frequency","start_date"],"type":"object","properties":{"interval":{"type":"string"},"frequency":{"format":"int32","type":"integer"},"start_date":{"type":"string"},"pro_rata_days":{"format":"int32","type":"integer"},"dd_auto_bill":{"type":"boolean"},"dd_delay":{"format":"int32","description":"Specify the number of days delay you would like to add before initiating a Direct Debit collection. Between 0 and 60","maximum":60,"minimum":0,"type":"integer"},"send_by_email":{"type":"boolean"},"send_by_post":{"type":"boolean"},"auto_activate":{"type":"boolean"}}},"InvoiceSingleModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"created_date":{"format":"date-time","description":"Date and time in ISO 8601 format","type":"string","example":"2024-12-31T12:34:56Z"},"issue_date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"invoice_number":{"type":"string"},"purchase_reference":{"type":"string"},"description":{"type":"string"},"client_id":{"format":"int64","type":"integer"},"client_company_name":{"type":"string"},"client_contact_name":{"type":"string"},"gross_total":{"format":"double","type":"number","example":12.34},"vat_total":{"format":"double","type":"number","example":12.34},"currency":{"type":"string"},"term_days":{"format":"int32","type":"integer"},"type":{"type":"string"},"status":{"type":"string"},"preview_uri":{"type":"string"},"recurring_profile_id":{"format":"int64","type":"integer"},"client_email":{"type":"string"},"client_address":{"type":"string"},"client_country":{"type":"string"},"client_vat_number":{"type":"string"},"payee_company_name":{"type":"string"},"payee_address":{"type":"string"},"payee_vat_number":{"type":"string"},"discount_percentage":{"format":"double","type":"number","example":12.34},"notes":{"type":"string"},"viewed":{"type":"boolean"},"payment_term_notes":{"type":"string"},"language":{"type":"string"},"exchange_rate":{"format":"double","type":"number","example":12.34},"item_lines":{"type":"array","items":{"$ref":"#/definitions/InvoiceSingleLine"}},"task_lines":{"type":"array","items":{"$ref":"#/definitions/InvoiceSingleLine"}},"balance":{"format":"double","type":"number","example":12.34},"recurring_profile":{"$ref":"#/definitions/RecurringProfileModel"},"tags":{"type":"array","items":{"type":"string"}}}},"InvoiceSingleLine":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"item_name":{"type":"string"},"description":{"type":"string"},"nominal_code":{"format":"int32","type":"integer"},"vat_rate":{"format":"double","type":"number","example":12.34},"unit_cost":{"format":"double","type":"number","example":12.34},"qty":{"format":"double","type":"number","example":12.34},"line_total":{"format":"double","type":"number","example":12.34},"vat_amount":{"format":"double","type":"number","example":12.34}}},"RecurringProfileModel":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"interval":{"type":"string"},"frequency":{"format":"int32","type":"integer"},"start_date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"last_sent_date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"next_due_date":{"format":"date","description":"Date in ISO 8601 format","type":"string","example":"2024-12-31"},"number_sent":{"format":"int32","type":"integer"},"pro_rata_days":{"format":"int32","type":"integer"},"status":{"type":"string"},"send_by_email":{"type":"boolean"},"send_by_post":{"type":"boolean"},"dd_auto_bill":{"type":"boolean"},"dd_delay":{"format":"int32","type":"integer"}}},"InvoicesUpdateRequest":{"required":["type","client_id","currency"],"type":"object","properties":{"type":{"description":"Type of document. E.g. invoice, estimate, recurring.","type":"string"},"client_id":{"format":"int64","description":"Unique Client ID.","type":"integer"},"client_contact_name":{"description":"Contact name to appear on the invoice. Omit node to apply default contact for the client.","maxLength":100,"minLength":0,"type":"string"},"client_address":{"description":"Supply a different client address to overide the default. Omit node to apply default address on file.","type":"string"},"client_country":{"description":"Client ISO 3166 Country Code. 2 characters long.","maxLength":2,"minLength":2,"type":"string"},"currency":{"description":"Currency ISO code must be 3 characters long.","maxLength":3,"minLength":3,"type":"string"},"discount_percentage":{"format":"double","description":"Optional discount percentage applied to invoice total.","type":"number","example":12.34},"term_days":{"format":"int32","description":"Number of days permitted to pay the invoice.","type":"integer"},"language":{"description":"ISO 639-1 language  code. Maximum 2 characters long.","maxLength":2,"minLength":0,"type":"string"},"description":{"description":"A brief description of the invoice raised. If not supplied will assume the description of the first invoice item/task. Between 2-35 characters long.","maxLength":35,"minLength":2,"type":"string"},"payment_term_notes":{"description":"Additional invoice terms","type":"string"},"notes":{"description":"Additional notes to appear on invoice.","type":"string"},"ec_vat_exempt":{"description":"Legacy pre-Brexit EC VAT flag. Do not use.","type":"boolean"},"invoice_number":{"description":"If invoice number is not supplied the system will auto-increment. Between 1 and 20 characters long","maxLength":20,"minLength":1,"type":"string"},"issue_date":{"type":"string"},"purchase_reference":{"type":"string"},"vat_codes":{"description":"Possible codes: exempt (VAT Exempt), oos (VAT Out of Scope), cisrc (CIS Reverse Charge), nisogs (EU supply of goods), niserv (EU supply of services).","type":"array","items":{"type":"string"}},"tags":{"description":"Provide up to 5 additional project tags","type":"array","items":{"type":"string"}},"item_lines":{"description":"Use for products and services priced using the quantity and unit cost model.","type":"array","items":{"$ref":"#/definitions/InvoicesCreateLine"}},"task_lines":{"description":"Use for itemising elements charged on an hourly rate at a fixed amount per hour.","type":"array","items":{"$ref":"#/definitions/InvoicesCreateTask"}},"recurring":{"$ref":"#/definitions/InvoicesCreateScheduleRecurring"}},"example":{"type":"invoice","client_id":1,"client_contact_name":"client_contact_name","client_address":"client_address","client_country":"GB","currency":"GBP","term_days":1,"language":"en","invoice_number":"invoice_number","issue_date":"2026-08-19","purchase_reference":"purchase reference","item_lines":[{"item_name":"name","description":"description","nominal_code":4000,"vat_rate":20.0,"vat_amount":2.05,"unit_cost":10.23,"qty":1.1}],"task_lines":[{"item_name":"task","description":"task description","nominal_code":4200,"hourly_rate":1.2,"hours":2.5,"vat_rate":10.0,"vat_amount":1.1}],"recurring":{"interval":"MONTH","frequency":1,"start_date":"2026-08-19","dd_auto_bill":false,"send_by_email":false,"send_by_post":false,"auto_activate":false}}},"InvoiceDeleteRequest":{"type":"object","properties":{"delete_associated_payments":{"type":"boolean"}}},"InvoiceGetPdfResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"uri":{"type":"string"}}},"InvoiceSendRequest":{"required":["invoice_id"],"type":"object","properties":{"invoice_id":{"format":"int64","minimum":1,"type":"integer"},"by_email":{"type":"boolean"},"by_snail_mail":{"type":"boolean"},"client_contact_id":{"format":"int64","type":"integer"}}},"InvoiceSendResponse":{"type":"object","properties":{"success":{"type":"boolean"}}},"InvoiceSendErrorResponse":{"type":"object","properties":{"invoice":{"type":"string"},"error":{"type":"string"}}},"ArrayModelPagingOfJournalSearchResponseItem":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/JournalSearchResponseItem"},"readOnly":true}}},"JournalSearchResponseItem":{"type":"object","properties":{"date":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"has_rec_profile":{"type":"boolean"}}},"JournalCreateRequest":{"required":["date","lines"],"type":"object","properties":{"date":{"description":"The date of the journal.","type":"string"},"name":{"description":"The name of the journal.","maxLength":100,"minLength":0,"type":"string"},"is_currency_revaluation":{"description":"If set to true the journal will be treated as a revaluation journal and will not affect the foreign currency balance.","type":"boolean"},"lines":{"type":"array","items":{"$ref":"#/definitions/JournalCreateLine"}}}},"JournalCreateLine":{"required":["nominal_code","description"],"type":"object","properties":{"nominal_code":{"format":"int32","description":"Nominal Code","type":"integer"},"description":{"description":"Item Description","maxLength":150,"minLength":0,"type":"string"},"notes":{"description":"Item Name","type":"string"},"debit_amount":{"format":"double","description":"Amount in currency to debit","type":"number"},"credit_amount":{"format":"double","description":"Amount in currency to credit","type":"number"}}},"JournalCreateResponse":{"type":"object","properties":{"reference":{"type":"string"}}},"JournalGetResponse":{"type":"object","properties":{"date":{"type":"string"},"name":{"type":"string"},"folder":{"type":"string"},"lines":{"type":"array","items":{"$ref":"#/definitions/JournalGetResponseLine"}}}},"JournalGetResponseLine":{"type":"object","properties":{"nominal_code":{"format":"int32","type":"integer"},"description":{"type":"string"},"notes":{"type":"string"},"credit":{"format":"double","type":"number"},"debit":{"format":"double","type":"number"}}},"LedgersSearchResponse":{"type":"object","properties":{"description":{"type":"string"},"total":{"format":"int32","type":"integer"},"NetValue":{"format":"double","type":"number"},"transactions":{"type":"array","items":{"$ref":"#/definitions/LedgersSearchTransaction"}}}},"LedgersSearchTransaction":{"type":"object","properties":{"date":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"},"amount":{"format":"double","type":"number"}}},"LedgersNominalsResponse":{"type":"object","properties":{"nominal_code":{"format":"int32","type":"integer"},"name":{"type":"string"},"notes":{"type":"string"},"is_purchase_code":{"type":"boolean"},"is_sales_code":{"type":"boolean"}}},"ProjectsCreateRequest":{"required":["reference_id","reference_type"],"type":"object","properties":{"reference_id":{"format":"int64","description":"ID of sales invoice, estimate, purchase invoice etc","type":"integer"},"reference_type":{"description":"Type of item the tag(s) will be attached to. Permitted values = invoice, estimate, recurring, purchase, purchase_order","type":"string"},"tags":{"description":"Array of 1-5 tags","type":"array","items":{"type":"string"}}}},"ProjectsDeleteRequest":{"required":["reference_id","reference_type"],"type":"object","properties":{"reference_id":{"format":"int64","description":"ID of sales invoice, estimate, purchase invoice etc","type":"integer"},"reference_type":{"description":"Type of item the tag(s) will be attached to. Permitted values = invoice, estimate, recurring, purchase, purchase_order","type":"string"},"tags":{"description":"Array of 1-5 tags","type":"array","items":{"type":"string"}}}},"ArrayModelPagingOfPurchasesSearchResponse":{"type":"object","properties":{"count":{"format":"int32","type":"integer"},"location":{"type":"string"},"paging":{"$ref":"#/definitions/PaginationModel"},"data":{"type":"array","items":{"$ref":"#/definitions/PurchasesSearchResponse"},"readOnly":true}}},"PurchasesSearchResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"receipt_date":{"type":"string"},"supplier_name":{"type":"string"},"supplier_id":{"format":"int64","type":"integer"},"supplier_reference":{"type":"string"},"receipt_number":{"type":"string"},"description":{"type":"string"},"currency":{"type":"string"},"gross_total":{"format":"double","type":"number"},"net_total":{"format":"double","type":"number"},"vat_total":{"format":"double","type":"number"},"status":{"type":"string"},"term_days":{"format":"int32","type":"integer"}}},"PurchasesPostRequest":{"required":["supplier_id","receipt_date","currency","item_lines"],"type":"object","properties":{"supplier_id":{"format":"int64","description":"Supplier id","type":"integer"},"receipt_date":{"description":"Receipt date","type":"string"},"currency":{"description":"Currency ISO code. Maximum 3 characters long.","maxLength":3,"minLength":3,"type":"string"},"description":{"description":"Description","maxLength":35,"minLength":0,"type":"string"},"vat_codes":{"description":"Possible codes: exempt (VAT Exempt), oos (VAT Out of Scope), cisrc (CIS Reverse Charge), nisogs (EU supply of goods), servrc, postgoods.","type":"array","items":{"type":"string"}},"suppplier_reference":{"description":"Search by supplier reference","maxLength":30,"minLength":0,"type":"string"},"term_days":{"format":"int32","description":"Number of days permitted to pay the purchase.","type":"integer"},"item_lines":{"type":"array","items":{"$ref":"#/definitions/PurchaseCreateLine"}},"payment":{"$ref":"#/definitions/PurchasePaymentData"},"tags":{"description":"Provide up to 5 additional project tags","type":"array","items":{"type":"string"}}},"example":{"supplier_id":1,"receipt_date":"2026-08-19","currency":"GBP","suppplier_reference":"suppplier_reference","term_days":1,"item_lines":[{"nominal_code":4000,"description":"description","sub_total":10.0,"vat_rate":20.0,"vat_amount":2.0}],"payment":{"date":"2026-08-19","nominal_code":1200,"amount":1.0,"notes":"payment notes"}}},"PurchaseCreateLine":{"required":["description","sub_total","vat_rate"],"type":"object","properties":{"nominal_code":{"format":"int32","description":"Nominal Code. Between 1 and 9999","type":"integer"},"description":{"description":"Item description","type":"string"},"sub_total":{"format":"double","description":"Item sub_total","type":"number"},"vat_rate":{"format":"double","description":"The VAT rate to be applied. For non-VAT Reg suppliers use 0.00","maximum":2147483647,"minimum":0,"type":"number","example":12.34},"vat_amount":{"format":"double","description":"Overrides the VAT Rate for specific VAT amounts. If missing will be calculated from the rate.","type":"number","example":12.34}}},"PurchasePaymentData":{"required":["date","amount"],"type":"object","properties":{"date":{"description":"Paid date","type":"string"},"nominal_code":{"format":"int32","description":"Nominal Code. Between 1200 and 1299","type":"integer"},"amount":{"format":"double","description":"Pay amount","type":"number"},"notes":{"description":"Optional payment notes container.","maxLength":100,"minLength":0,"type":"string"}}},"PurchasesGetResponse":{"type":"object","properties":{"id":{"format":"int64","type":"integer"},"created_date":{"type":"string"},"receipt_date":{"type":"string"},"due_date":{"type":"string"},"supplier_name":{"type":"string"},"supplier_id":{"format":"int64","type":"integer"},"supplier_reference":{"type":"string"},"receipt_number":{"type":"string"},"description":{"type":"string"},"currency":{"type":"string"},"net_total":{"format":"double","type":"number"},"vat_total":{"format":"double","type":"n
[...]
